@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PantonExtraBold';
  src: url('../fonts/PantonExtraBold.woff2') format('woff2');
}